body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 420px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

.dashboard {
  background: #020617;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.dashboard div {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.adas-btn {
  background: #22c55e;
  border: none;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 15px;
}

.controls button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 12px;
  margin: 5px;
  border-radius: 8px;
}

.lr {
  display: flex;
  justify-content: space-around;
}

.slider-container {
  margin-top: 20px;
}

.slider {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  height: 150px;
}
